@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.testimonials{
    @include max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @include device(tablet){
            grid-template-columns: 1fr;
        }

        .item{
            background-color: $gameFic;
            padding: 3rem;
            border-radius: 2rem;

            .heading{
                display: flex;
                align-items: center;
                gap: 3rem;
                margin-bottom: 2rem;
                
               
                .testimonialImage-0 {
                    filter: drop-shadow(5px 3px 10px #01ffff);
                }
                
                /* Estilo personalizado para a segunda imagem */
                .testimonialImage-1 {
                    filter: drop-shadow(5px 3px 10px #ff7700);
                }
                .testimonialImage-2 {
                    filter: drop-shadow(5px 3px 10px #ff0000);
                }
                .testimonialImage-3 {
                    filter: drop-shadow(5px 3px 10px #cc9200);
                }

                .testimonialImage-4 {
                    filter: drop-shadow(5px 3px 10px #0073c6);
                }

                .testimonialImage-5 {
                    filter: drop-shadow(5px 3px 10px #cd0505);
                }
                .testimonialImage-6 {
                    filter: drop-shadow(5px 3px 10px #9104aa);
                }
                .testimonialImage-7 {
                    filter: drop-shadow(5px 3px 10px #ffac06);
                }

                h3{
                    font-weight: 500;
                }

                span{
                    font-size: 1.4rem;
                    line-height: normal;
                }
            }
        }
    }
}